.container
  width 900px
  margin 0 auto
  margin-top 30px

  .artwork-part
    width 400px
    display inline-block
    vertical-align top
    margin-top 30px
    img
      width 100%
  .artwork-informations
    padding-left 70px
    h1
      font-size 35px
      font-family "Cocomat-Light"
      margin-bottom 30px
      margin-top 20px
    p
      font-family "Roboto"
      font-weight 300
      font-size 15px
      margin-bottom 7px
      line-height 2.2
    .artwork-part-artwork-width
        color #9B9B9B
    .artwork-button
      font-family 'Roboto'
      text-transform uppercase
      font-weight 500
      font-size 13px
      margin-top 30px
      width 140px
      height 32px
      border 1.5px solid #000
      padding 7px

    .artwork-button:hover
      background-color #000
      color #fff
  .artwork-informations
    margin-left 40px

@media (max-width: 900px)
  .container
    width 600px
    .artwork-part
      width 270px
    .artwork-picture
      width 300px
      margin-top 40px
    .artwork-informations
      margin-left 0px

@media (max-width: 650px)
  .container
    width 100%
    .artwork-part
      display block
    .artwork-picture
      width 300px
      margin 0 auto
      padding-top 30px
      text-align center
    .artwork-informations
      text-align center
      width 100%
      margin-bottom 30px
      padding-left 0px
      .artwork-button
        width 140px
        margin 0 auto
