//newsletter styl
.form-title
  text-align center
  font-family "Cocomat-Light"
  font-size 25px
  margin-top 50px
  margin-bottom 30px

.form-group
  width 300px
  margin 0 auto
  padding-top 30px
  font-family 'Roboto'
  font-weight 300
  font-size 16px

  .form-control
    border-bottom 1px solid #000
    width 100%
    margin-top 15px

.form-button-content
  width 201px
  margin 0 auto
  
  .form-button
    text-transform uppercase
    font-weight 500
    font-size 13px
    margin-top 17px
    width 201px
    height 32px
    border 1.5px solid #000
    padding 7px
    transition color .2s ease-out, background .2s ease-in

  .form-button:hover
    background-color #000
    color #fff
