@import 'base/reset'

@import 'base/general'
@import 'base/header'
@import 'base/footer'

@import 'pages/category'
@import 'pages/home'
@import 'pages/error'
@import 'pages/artwork'
@import 'pages/newsletter'
