{{ include('partials/header.twig') }}

<div class="category-container">

  {% for _artwork in artworks %}

      <img src="{{ global.request.basepath }}/assets/images/{{ _artwork.image }}" alt="artworks" class="category-img">

  {% endfor %}

</div>




{{ include('partials/footer.twig') }}
