<!-- Include -->
{{include('partials/header.twig')}}

<!-- Error content -->
<div class="error-content">
  <h1>Une erreur {{ code }} s'est produite !</h1>
  <a class="error-button" href="{{ url('home') }}">Retourner à l'accueil</a>
</div>

<!-- Include -->
{{include('partials/footer.twig')}}
