body
  background-color white
  overflow-x hidden

@font-face {
  font-family: "Cocomat-Light";
  src: url("/web/assets/fonts/Cocomat-Light.ttf");
}

@font-face {
  font-family: "Cocomat-Ultralight";
  src: url("/web/assets/fonts/CocomatUltralight.ttf");
}

.error-content
  font-family "Roboto"
  font-weight 300
  font-size 20px
  padding-top 50px
  padding-bottom 30px
  margin 0 auto
  width 300px
  text-align center

  h1
    margin-bottom 50px

  .error-button
    font-family 'Roboto'
    text-transform uppercase
    font-weight 500
    font-size 13px
    width 201px
    height 32px
    border 1.5px solid #000
    padding 7px

  .error-button:hover
    background-color #000
    color #fff
