body
  background-color white
  overflow-x hidden

@font-face {
  font-family: "Cocomat-Light";
  src: url("/web/assets/fonts/Cocomat-Light.ttf");
}

@font-face {
  font-family: "Cocomat-Ultralight";
  src: url("/web/assets/fonts/CocomatUltralight.ttf");
}
